@custom-selector :--headings h1, h2, h3;

:root {
  --font-weight-bold: 600;

  font-size: 100%;
  font-family: "Source Serif Pro", serif;
  line-height: 140%;
}

* {
  margin: 0;
}

* + * {
  margin-top: 1em;
}

:--headings,
strong {
  font-weight: var(--font-weight-bold);
}
